<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

      
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" placeholder="Tu nombre" formControlName="name"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of formErrors.name">
        <ion-label color="danger" *ngIf="registerForm.get('name')?.hasError(error.type) && registerForm.get('name')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-item>
        <ion-input label="Apellido" labelPlacement="floating" placeholder="Tu apellido" formControlName="lastname"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of formErrors.lastname">
        <ion-label color="danger" *ngIf="registerForm.get('lastname')?.hasError(error.type) && registerForm.get('lastname')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-item>
        <ion-input label="Correo" labelPlacement="floating" type="email" placeholder="example@email.com" formControlName="email"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger" *ngIf="registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-item>
        <ion-input label="Usuario" labelPlacement="floating" placeholder="Tu usuario" formControlName="username"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of formErrors.username">
        <ion-label color="danger" *ngIf="registerForm.get('username')?.hasError(error.type) && registerForm.get('username')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger" *ngIf="registerForm.get('password')?.hasError(error.type) && registerForm.get('password')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-item>
        <ion-input label="Confirmar Contraseña" labelPlacement="floating" type="password" formControlName="password_confirmation"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of formErrors.password_confirmation">
        <ion-label color="danger" *ngIf="registerForm.get('password_confirmation')?.hasError(error.type) && registerForm.get('password_confirmation')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-button type="submit" [disabled]="!registerForm.valid">
        Registrarse
      </ion-button>

    </form>
  </div>
</ion-content>
